{% extends 'base.html' %}
{% block content %}
    <form action="{% url 'all-storages'%}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
    {% if storage_list %}
        <ul>
        {% for storage in storage_list %}
            <li><a href="{% url 'one-storage' storage.id %}">{{ storage.name }}</a> - {{storage.trucks_count}} trucks available</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No storages are available.</p>
    {% endif %}
{% endblock %}
