{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container bg-light">
    <h3>Register new storage</h3>
    <form action="{% url 'create-storage'%}" method="post">
      {% csrf_token %}
      {% include 'form_fields.html' with form=form %}
      <div class="col-auto"><input type="submit" name="submit" value="Submit" class="btn btn-primary"></div>
    </form>
  </div>
  <div class="container bg-light">
    <h5>Search storages:</h5>
    <form action="{% url 'all-storages'%}" method="get" id="id_storages_form">
      {% include 'compact_form.html' with form=filter_form btn="Search" %}
    </form>
  </div>
  <div class="container" id="storages_table">
    {% include 'storage/storages_table.html' with storage_list=storage_list %}
  </div>
{% endblock %}
