<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Location</th>
      <th>Capacity</th>
      <th>Current load</th>
      <th>Available trucks</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for storage in storage_list %}
      <tr>
        <th>{{storage.id}}</th>
        <th><a href="{% url 'one-storage' storage.id %}">{{ storage.name }}</a></th>
        <th>{{storage.location}}</th>
        <th>{{storage.capacity}}</th>
        <th>{{storage.current_load}}</th>
        <th> {{storage.trucks_count}}</th>
        <th><a href="{% url 'current-weather' %}?location={{storage.location}}">Get Weather</a></th>
      </tr>
    {% endfor %}
  </tbody>
</table>
