{% load widget_tweaks %}
{% for field in form.visible_fields %}
  <div class="form-group">
    {{ field.label_tag }}
    {% if form.is_bound %}
      {% if field.errors %}
        {% render_field field class="form-control is-invalid" %}
        {% for error in field.errors %}
          <div class="invalid-feedback"> {{ error }} </div>
        {% endfor %}
      {% else %}
        {% render_field field class="form-control is-valid" placeholder=field.help_text %}
      {% endif %}
    {% else %}
      {% render_field field class="form-control" placeholder=field.help_text %}
    {% endif %}
  </div>
{% endfor %}
